<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Smart Queue Management System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>Smart Queue Management System</h1>

        <p>Join the queue without waiting in line.</p>

        <div class="queue-card">

            <h2>Join Queue</h2>

            <form action="/join" method="POST">

                <label for="name">Enter your name</label>

                <input
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Enter your name"
                    required
                >

                <button type="submit">
                    Join Queue
                </button>

            </form>

        </div>


        {% if token %}

        <div class="token-card">

            <h2>Queue Joined Successfully!</h2>

            <p>Hello, {{ name }}!</p>

            <p>Your Token Number:</p>

            <div class="token">
                {{ token }}
            </div>

            <p>People Ahead:</p>

            <div class="people-ahead">
                {{ people_ahead }}
            </div>

            <p>Please wait for your token to be called.</p>

        </div>

        {% endif %}

    </div>

</body>

</html>